<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ExcodeExt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup/><userSettings>
		<ExcodeExt.Properties.Settings>
			<setting name="Recent" serializeAs="String">
				<value/>
			</setting>
			<setting name="FindCaseSensitive" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FindStayOpen" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AutoCheckForUpdates" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoInstallUpdates" serializeAs="String">
				<value>False</value>
			</setting>
		</ExcodeExt.Properties.Settings>
	</userSettings>
</configuration>
